{% extends 'products/products_list.html' %}

{% block title %}
<title>Edit</title>
{% endblock %}

{% block content %}
  
  {% if user.is_authenticated %}
    <div class="addProduct">
      <h1>Edit Product</h1>
      <form method="post">
        <div class="containsInput">
          {% csrf_token %}
          {{ form.as_p }}
        </div>
        <button type="submit">Save changes</button>
      </form>
    </div>
  {% else %}
      <p>You must <a href="{% url 'login' %}">log in</a> to add a product.</p>
  {% endif %}

  <style>
    .containsInput{
      text-align: left;
      width: auto;
      margin: 1vh 14vh 2vh;
    }
  
    button[type="submit"] {
      background-color: #28a745;
      color: #fff;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
      border: none;
      cursor: pointer;
    }
    
    button[type="submit"]:hover {
      background-color: #218838;
    }
                
    .addProduct{
      width: 35%;
      margin: 3% auto;
      background-color: #D4BC89;
      align-items: center;
      text-align: center;
      padding: 10vh 0%;
      border-radius: 30px;
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 255, .1);
    }
    
    .addProduct input{
    margin: 1vh;
    }
    
    .addProduct button{
      width: 53%;
      height: 40px;
      margin: auto;
      justify-content: center;
      
    }
    
    .addProduct h1{
      font-family: 'Yeseva One', cursive;
        font-size: 45px;
        font-weight: 300;
        margin-bottom: 6%;
    }
    
    
    
    
            </style>
{% endblock %}

