{% extends 'products/products_list.html' %}

{% block title %}
<title>Detail</title>
{% endblock %}

{% block content %}

<div class="containN">
<div class="productT">
  <h1>{{ product.name }}</h1>
  <img src="{{ product.photo.url }}" alt="{{ product.name }} photo">
  
  <p><span class="titleBold">Price:</span> &nbsp {{ product.unit_price }} Dzd</p>
  <p><span class="titleBold">Min Quantity:</span> &nbsp {{ product.quantity }} pieces</p>
  <p><span class="titleBold">Description:</span> &nbsp {{ product.description }}</p>

</div>
<div class="suplierR">

  <h1>Supplier Information</h1>
  <p><span class="titleBold">Name:</span> {{ product.supplier.user_profile.first_name }} {{ product.supplier.user_profile.last_name }}</p>
  <p><span class="titleBold">Phone Number:</span> {{ product.supplier.user_profile.number }}</p>
  <p><span class="titleBold">Email:</span> {{ product.supplier.user_profile.user.email }}</p>

  <form method="post" action="{% url 'create_order' product.pk %}">
    <h2 style="text-decoration: underline; margin: 3vh;">Order Now</h2>
    {% csrf_token %}
    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" min="{{ product.quantity }}" value="{{ product.quantity }}" required>
    <label for="location">Your location:</label>
    <input type="text" id="location" name="location" required>
    <button type="submit">Purchase</button>
  </form>
</div>
</div>

<style>

  .suplierR p {
    margin: 3vh;
  }
  
label {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
  display: block;
  margin-bottom: 10px;
}

input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
  background-color: #E9ECEF;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
input:hover,
input:focus{
  background-color: white;
  border-radius: none;}

  .containN{
    margin: 8vh auto;
    display: flex;
    justify-content: space-around;
    width: 70%;
    border: 1px solid #212529;
    box-shadow: 10px 12px 4px 1px rgba(0, 0, 255, .1);
  }

  .containN p{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
  }

  .titleBold{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline; }

  .containN .suplierR, .containN .productT{
    width: 45%;
    padding: 3vh;
    text-align: center;
    

  }

  .suplierR{
    margin-top: 3vh;
  }

</style>




{% endblock %}
