@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #e9ECEF;
}

nav .Username{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600; 
}

nav{
    display: flex;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 2.5%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400; 
    border-bottom: 1px solid #212529 ; 
    background-color: #E9ECEF;

}

/* Styling the links in the navbar */

nav .list{
    display: flex;
    justify-content: space-around;
    width: 50vh;
}

nav a{
    text-decoration: none;
    color: #212529;
}

nav a:hover{
    color: #D4BC89;
    text-decoration: underline;
}

nav .Logout{
    position: absolute;
    bottom: 4%;
    left: 2.5%;
}

nav .logout a{
    display: flex;
    align-items: center;
}

h1{
text-align: center;
margin: 4vh 0 7vh;
font-size: 45px;
text-decoration: underline;
}
.table-wrapper{
margin: 10px 70px 70px;
box-shadow: 12px 15px 6px 1px rgba(0, 0, 255, .1);
}

.fl-table {
border-radius: 5px;
font-size: 12px;
font-weight: normal;
border: none;
border-collapse: collapse;
width: 100%;
max-width: 100%;
white-space: nowrap;
background-color: white;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 18px;
font-weight: 600;
}

.fl-table td, .fl-table th {
text-align: left;
padding:  2vh 4vh;
}
        
.fl-table td {
border-right: 1px solid #f8f8f8;
font-size: 16px;
font-weight: 400;
}

.fl-table thead th {
color: #e9ECEF;
background: #D4BC89;
text-decoration: underline;
}        
.fl-table thead th:nth-child(odd) {
color: #e9ECEF;
background: #212529;
}
        
.fl-table tr:nth-child(even) {
background: #e9ECEF;
}

.fl-table input[type="submit"]{
    width: auto;
    padding: 1vh 3vh;
    background-color: #28a745;
    color: #e9ECEF;
    border: none;
}

.fl-table input[type="submit"]:hover{
    cursor: pointer;
    background-color: #218838;

}
