@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2% 0%;
  border-bottom: 1px solid #212529 ; 
  background: #E9ECEF;
  position: sticky;
  top: 0;

}

nav .list{
    margin-right: 10%;
}


ul{
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  
  ul li {
    padding: 1% 10%;
  }

  ul li a {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-right: 25%;
    position: relative;
    display: block;
    padding: 4px 0;
    text-decoration: none;

    color: #212529;
    transition: 0.5s;
  }
  
  ul li a::after {
    position: absolute;
    text-decoration: none;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #212529;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }
  
  ul li a:hover {
    color: #D4BC89;
    text-decoration: none;

  }
  
  ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    text-decoration: none;

  }
  
nav .Title h1{
    font-family: 'Yeseva One', cursive;
    font-size: 25px;
    font-weight: 300;
    margin-left: 25%;
}