{% load static %}
<!DOCTYPE html>
<html>

    <head>

        {% block title %}
        <title>Home</title>
        {% endblock %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/user.css' %}">

       

    </head>

    <body style="background-color: #e9ECEF;">
        <nav>
            
            <div class="Username">
                <p>{{ user.username }}</p>
            </div>
            <div class="list">
                <p><a href="#">Home</a></p>
                <p><a href="#">About</a></p>
                <p><a href="#">Contact</a></p>
            </div> 
            <div class="box">
                <form name="search">
                    <input type="text" class="input" name="txt" onmouseout="this.value = ''; this.blur();">
                </form>
                <i class="material-icons">search</i>   
                
            </div>
            <div class="logout">
                
                <a href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                    <i class="material-icons">exit_to_app</i>   
                    <p>Log Out</p>
                </a>
                <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                    {% csrf_token %}
                </form>
                
            </div>
        </nav>

        <div class="Content">
        {% block content %}
                <div class="info">
                    <div class="Name">
                        <h1>Full name:</h1><p>
                            {% if user.profile.first_name and user.profile.last_name %}
                                {{ user.profile.first_name }} {{ user.profile.last_name }}
                            {% else %}
                                no name available
                            {% endif %}
                        </p>
                    </div>
                    <div class="Email">
                        <h1>Email:</h1>   <p>{{ user.email }}</p>
                    </div>
                </div>
                <div class="Display">
                    <div class="History">
                        <h1> <a href="">Search History </a></h1>
                    </div>
                    <div class="Settings">
                        <h1><a href="">Settings:</a></h1> <p>Edit your personal information</p>
                    </div>
                </div> 
                <div class="supplier" style="text-align: center;">
                    <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    font-size: 20px;
                    font-weight: 400;
                    ">Become a supplier, Click <a style="color: #D4BC89;" href="{% url 'become_supplier' %}">here</a></p>
                </div>      
        {% endblock %}
        </div>
         
        
    </body>

    <footer></footer>


</html>