{% extends 'accounts/base.html' %}

{% block content %}
    <h1>My Orders</h1>
    {% if orders %}
        <table>
            <thead>
                <tr>
                    <th>Order Date</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Location</th>
                    <th>Is Completed</th>
                    <th>Confirmation:</th>

                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.date_created }}</td>
                        <td>{{ order.product.name }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.location }}</td>
                        <td>{{ order.is_completed }}</td>
                        <td>{% if order.is_sent and not order.is_completed %}
                            <form method="post" action="{% url 'confirm_received' order.id %}">
                                {% csrf_token %}
                                <input type="submit" value="Confirm Received">
                            </form>
                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have not placed any orders yet.</p>
    {% endif %}
{% endblock %}
