{% extends 'accounts/base.html' %}

{% block content %}
    <h1>My Orders:</h1>
    {% if orders %}
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Order Date</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Location</th>
                    <th>Is Completed</th>
                    <th>Confirmation:</th>

                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.date_created }}</td>
                        <td>{{ order.product.name }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.location }}</td>
                        <td>{{ order.is_completed }}</td>
                        <td>{% if order.is_sent and not order.is_completed %}
                            <form method="post" action="{% url 'confirm_received' order.id %}">
                                {% csrf_token %}
                                <input type="submit" value="Confirm Received">
                            </form>
                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>You have not placed any orders yet.</p>
    {% endif %}
    <style>
        h1{
            text-align: center;
            margin: 4vh 0 7vh;
            font-size: 45px;
            text-decoration: underline;
        }

        .table-wrapper{
            margin: 10px 70px 70px;
            box-shadow: 12px 15px 6px 1px rgba(0, 0, 255, .1);
        }
        
        .fl-table {
            border-radius: 5px;
            font-size: 12px;
            font-weight: normal;
            border: none;
            border-collapse: collapse;
            width: 100%;
            max-width: 100%;
            white-space: nowrap;
            background-color: white;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 18px;
            font-weight: 600;
        }
        
        .fl-table td, .fl-table th {
            text-align: left;
            padding:  2vh 4vh;
        }
        
        .fl-table td {
            border-right: 1px solid #f8f8f8;
            font-size: 16px;
            font-weight: 400;

        }
        
        .fl-table thead th {
            color: #e9ECEF;
            background: #D4BC89;
            text-decoration: underline;

        }
        
        
        .fl-table thead th:nth-child(odd) {
            color: #e9ECEF;
            background: #212529;
        }
        
        .fl-table tr:nth-child(even) {
            background: #e9ECEF;
        }
    </style>
{% endblock %}
