
{% extends 'accounts/base.html' %}

{% block content %}


<form method="post" action="{% url 'settings' %}">
  {% csrf_token %}

  <h2>Account Settings</h2>

  <label for="username">Username:</label>
  <input type="text" id="username" name="username" value="{{ user.username }}" required>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" value="{{ user.email }}" required>  

  <label for="first_name">First Name:</label>
  <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" required>

  <label for="last_name">Last Name:</label>
  <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" required>

  {% if messages %}
  <div class="messages">
    {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %}

  <button type="submit">Update Account</button>
</form>

<style>
  .messages {
  background-color: #FFFFFF; /* Green background color */
  color: #4CAF50 ; /* White text color */
  border: 1px solid #4CAF50;
  padding: 10px;
  margin-bottom: 3vh;
}
  form {
  width: 50%;
  margin: 5vh auto;
  border: 1px solid #212529;
  box-shadow: 10px 12px 4px 1px rgba(0, 0, 255, .1);
  padding: 5vh 10vh;
 



}

form h2{
  text-align: center;
  font-size: 35px;
}

label {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
  display: block;
  margin-bottom: 10px;
}

input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
  background-color: #E9ECEF;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
input:hover,
input:focus{
  background-color: white;
  border-radius: none;}

</style>



 
        
{% endblock %}


  